Repository rahul-roy-glean/toposcope: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, web-typecheck

go-fmt:
  run: gofmt -l . | grep -v vendor

go-vet:
  run: go vet ./...

web-typecheck:
  run: cd web && npx tsc --noEmit

Fix CI: pnpm version, golangci-lint errors, gofmt formatting
  .github/workflows/ci.yml
  cmd/toposcope/score.go
  cmd/toposcope/ui.go
  cmd/toposcoped/main.go
  internal/webhook/handler.go
  pkg/extract/extract.go
  pkg/scoring/config.go
  pkg/scoring/m_cross_package.go
  pkg/scoring/types.go
  pkg/surface/checkrun.go
Due: go-fmt, go-vet

Fix gofmt formatting across all Go source files
  cmd/toposcope/score.go
  cmd/toposcoped/main.go
  internal/ingestion/service.go
  internal/surface/github.go
  internal/tenant/service_test.go
  internal/webhook/github.go
  internal/webhook/handler_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/extract/subgraph/extractor.go
  pkg/graph/types.go
  pkg/scoring/m_credits_test.go
  pkg/scoring/m_cross_package_test.go
  pkg/scoring/m_fanout_test.go
Due: go-fmt, go-vet

Fix remaining CI failures: exitAfterDefer and pnpm workspace
  cmd/toposcoped/main.go
  web/pnpm-workspace.yaml
Due: go-fmt, go-vet

Fix Go test and React ESLint errors
  pkg/extract/bazeldiff/bazeldiff.go
  web/src/app/repos/[repoId]/graph/page.tsx
  web/src/app/repos/[repoId]/scores/[scoreId]/page.tsx
Due: go-fmt, go-vet, web-typecheck

Add ingest + read API endpoints to toposcoped
  cmd/toposcope/ui.go
  cmd/toposcoped/main.go
  internal/api/cache.go
  internal/api/handler.go
  internal/api/ingest.go
  internal/api/middleware.go
  internal/api/repos.go
  internal/api/snapshots.go
  internal/ingestion/service.go
  internal/platform/migrations/000002_tenant_name_index.down.sql
  internal/platform/migrations/000002_tenant_name_index.up.sql
  internal/tenant/service.go
  pkg/graphquery/query.go
  pkg/graphquery/query_test.go
Due: go-fmt, go-vet

Update Dockerfile entrypoint to toposcoped on port 8080
  Dockerfile
Due: none

Add IAP, gzip ingest, WIF, and deployment tooling
  cmd/toposcope/score.go
  cmd/toposcope/snapshot.go
  cmd/toposcoped/main.go
  examples/backfill.sh
  examples/toposcope-ingest.yml
  infra/compute.tf
  infra/database.tf
  infra/iam.tf
  infra/loadbalancer.tf
  infra/main.tf
  infra/outputs.tf
  infra/secrets.tf
  infra/tasks.tf
  infra/variables.tf
  internal/api/ingest.go
Due: go-fmt, go-vet

Apply API key auth only to POST endpoints
  cmd/toposcoped/main.go
  infra/variables.tf
Due: go-fmt, go-vet

Align frontend ScoreResult type with API response fields
  .gitignore
  examples/backfill.sh
  web/src/app/page.tsx
  web/src/app/repos/[repoId]/page.tsx
  web/src/app/repos/[repoId]/prs/[prNumber]/page.tsx
  web/src/app/repos/[repoId]/scores/[scoreId]/page.tsx
  web/src/lib/api/mock-data.ts
  web/src/lib/types.ts
Due: web-typecheck

Fix TypeScript strict null checks for optional delta_stats
  web/src/app/page.tsx
  web/src/app/repos/[repoId]/prs/[prNumber]/page.tsx
Due: web-typecheck

Consolidate overview page and fix charts
  web/src/app/repos/[repoId]/history/page.tsx
  web/src/app/repos/[repoId]/page.tsx
Due: web-typecheck

Fix CI lint failures
  .gitignore
  cmd/toposcoped/main.go
  internal/tenant/service.go
  web/src/app/repos/[repoId]/history/page.tsx
Due: go-fmt, go-vet, web-typecheck

Fix scoring algorithm bugs and add rescore API endpoint
  cmd/toposcoped/main.go
  internal/api/handler.go
  internal/api/rescore.go
  internal/ingestion/service.go
  pkg/scoring/config.go
  pkg/scoring/defaults.go
  pkg/scoring/engine.go
  pkg/scoring/m_blast_radius.go
  pkg/scoring/m_blast_radius_test.go
  pkg/scoring/m_centrality.go
  pkg/scoring/m_centrality_test.go
  pkg/scoring/m_credits_test.go
Due: go-fmt, go-vet

Aggregate score history by day for readable charts
  internal/api/repos.go
  web/src/app/repos/[repoId]/history/page.tsx
  web/src/lib/types.ts
Due: go-fmt, go-vet, web-typecheck

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  web-typecheck: any of: web/**/*.{ts,tsx}
